/* Style the addBar */
.addBar {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff5cc;
}

/* Clear floats after the addBar */
.addBar:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 80%;
  padding: 13px;
  float: left;
}

/* Style the "Add" button */
.addBtnS {
  width: 20%;
  color: #555;
  background-color: #fff5cc;
  float: left;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

/* Style the "Add" button for large screen */
.addBtnL {
  width: 20%;
  height: 58px;
  color: #555;
  background-color: #fff5cc;
  float: left;
  text-align: center;
  font-size: 250%;
  cursor: pointer;
  transition: 0.3s;
}

.myInput {
  padding: 20px 8px 20px 40px;
  background: #eee;
}

#myInputL {
  padding: 20px 8px 20px 40px;
  background-color: rgb(255, 255, 255);
  font-size: 150%;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 80%;
  padding: 13px;
  float: left;
}

.addBtnS:hover {
  background-color: #ff9e22;
}

.addBtnL:hover {
  background-color: #ff9e22;
}

#searchBtn {
  background-color: #fcebd6;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
