/* Style settings for medium - extra large screen.  */
@media only screen and (min-width: 768px) {
  .addBar {
    display: none;
  }

  /* Sidebar */
  .sidebar {
    width: 20% !important;
    position: relative;
  }

  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 21%;
  }

  /* Calendar */
  .month {
    padding: 70px 25px;
    width: 100%;
    background: #ff9e22;
    text-align: center;
    border-radius: 0.5em;
    
    color: white;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .container {
    display: none;
  }

  .bar1 .bar2 .bar3 {
    display: none;
  }

  #head2 {
    font-size: 200%; 
  }

  #title {
    font-size: 400%;
  }

  #searchBtn {
    font-size: 120%;
    width: 130px;
    height: 50px;
  }
  #searchBtn:focus {
    width: 100%;
  }
}

/* Style settings for small - medium screen. */
@media only screen and (min-width: 576px) and (max-width: 768px) {  
  .content {
    margin-left: 0;    
    width: 100%;
  }

  .sidebar {
    width: 0;
  }

  #myInput {
    font-size: 150%;
  }

  .addBtnS {
    padding: 0px 10px 5px 0px;
    font-size: 250%;
  }

  #myInputL {
    display: none;
  }

  .addBtnL {
    display: none;
  }

  /* Calendar */
  .month {
    padding: 70px 25px;
    width: 100%;
    background: #ff9e22;
    text-align: center;
    border-radius: 0.5em;
    
    color: white;
    font-size: 220%;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
    
  /* Menu icon */
  .container {
    padding-right: 2%;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  #head2 {
    font-size: 200%; 
  }

  #title {
    font-size: 350%; 
  }

  #searchBtn {
    font-size: 120%;
    width: 130px;
    height: 40px;
  }
  #searchBtn:focus {
    width: 88%;
  }
}

/* Style settings for extra small screen. */
@media only screen and (max-width: 576px) {
  .content {
    margin-left: 0;    
    width: 100%;
  }

  .sidebar {
    width: 0;
  }

  /* Calendar */
  .month {
    padding: 60px 25px;
    width: 100%;
    background: #ff9e22;
    text-align: center;
    border-radius: 0.5em;
    
    color: white;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
    
  /* Menu icon */
  .container {
    padding-right: 1%;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  #myInput {
    font-size: 140%;
  }

  .addBtnS {
    padding: 0px 10px 5px 0px;
    font-size: 250%;
  }

  #myInputL {
    display: none;
  }

  .addBtnL {
    display: none;
  }
  
  ul li {
    font-size: 150%;    
    padding: 17px 8px 17px 40px;
  }

  #head2 {
    font-size: 180%; 
  }

  #title {
    font-size: 320%; 
  }

  #searchBtn {
    font-size: 120%;
    width: 130px;
    height: 40px;
  }
  #searchBtn:focus {
    width: 84%;
  }
}

/* Style settings for super small screen.  */
@media only screen and (max-width: 300px) {
  .content {
    margin-left: 0;    
    width: 100%;
  }

  .sidebar {
    width: 0;
  }

  .addBtnS {
    font-size: 200%;
  }

  #myInput {
    bottom: 0;
    font-size: 100%;
    padding: 10px;
  }

  #myInputL {
    display: none;
  }
  
  .addBtnL {
    display: none;
  }
  
  /* Calendar */
  .month {
    padding: 40px 25px;
    width: 100%;
    background: #ff9e22;
    text-align: center;
    border-radius: 0.5em;
    
    color: white;
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  /* Menu icon */
  .container {
    padding-right: 0.5%;
    height: 80px;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  ul li {
    font-size: 100%;
    height: 40px;
    padding: 10px 0px 20px 40px;
  }

  #head2 {
    font-size: 120%; 
  }

  #title {
    font-size: 200%; 
  }

  #searchBtn:focus {
    width: 80%;
  }
  #searchBtn {
    font-size: 100%;
    height: 35px;
    width: 45%;
  }
}
